* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

/* NAVBAR */
.mobile-nav {
    display: none;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 24px;
    height: 64px;
}

.logo {
    display: flex;
    align-items: center;
    padding: 16px 0;
}

.logo p {
    font-weight: bold;
    color: #3f3f3f;
}

.logo span {
    font-weight: normal;
    color: #8e8e8e;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 16px;
    padding: 16px 0;
}

nav ul li a {
    text-decoration: none;
    color: #3f3f3f;
}

/* SEC-1-กลุ่มคนอ่านหนังสือ */
.sec1-con {
    display: grid;
    grid-template-columns: 3fr 2fr;
    background-color: #8e8e8e;
}

/* SEC-1-LEFT */
.sec1-left {
    display: flex;
}

.sec1-left img {
    width: 100%;
    padding: 32px 24px;
}

/* SEC-1-RIGHT */
.sec1-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 32px 24px;
}

.sec1-right * {
    padding: 1rem;
}

.sec1-right a {
    display: flex;
    justify-content: center;
    text-decoration: none;
    align-items: center;
    background-color: #3f3f3f;
    color: #fff;
    padding: 8px 0;
    margin: 8px 0;
    width: auto;
}

/* SEC-2-พี่ดำ */
.orientation-right-mobile, .campus-right-mobile, .guest-right-mobile {
    display: none;
}

.sec2-con {
    display: grid;
    grid-template-columns: 3fr 2fr;
    padding-bottom: 32px;
}

.sec2-left {
    display: flex;
    flex-direction: column;
}

.sec2-left img {
    width: 100%;
    padding: 32px 24px;
}

.sec2-left-info {
    padding: 0 24px;
}

.sec2-left-info h2 {
    padding-bottom: 24px;
}

.sec2-left-info p {
    padding-bottom: 32px;
}

.sec2-right {
    display: flex;
    flex-direction: column;
}

.orientation , .campus , .guest {
    display: flex;
    border: 1px solid #dfdfdf;
    padding: 16px;
}

.orientation-img img,.campus-img img, .guest-img img {
    width: 100%;
}

.orientation-info , .campus-info , .guest-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 16px;
}

.orientation-info *, .campus-info *, .guest-info * {
    padding: 8px 0;
}

.orientation-info a, .campus-info a, .guest-info a {
    text-decoration: none;
}

.sec2-right :hover {
    background-color: #dfdfdf;
}

/* START LEARNING */
.start-mobile {
    display: none;
}

.start-con {
    background-color: #dfdfdf;
}

.start-con h1 {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 32px 0;
}

/* START LEARNING-ตาราง */
.start-grid-wrapper {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,1fr);
    gap: 32px;
    padding: 0 72px 32px 72px;
}

.s-img img {
    width: 100%;
}

.s1, .s2, .s3, .s4, .s5, .s6 {
    background-color: #e9e9e9;
    border: 1px solid #cacaca;
}
.s1:hover {
    background-color: #cacaca;
}
.s2:hover {
    background-color: #cacaca;
}
.s3:hover {
    background-color: #cacaca;
}
.s4:hover {
    background-color: #cacaca;
}
.s5:hover {
    background-color: #cacaca;
}
.s6:hover {
    background-color: #cacaca;
}

.s-info h4 {
    padding: 16px;
}

.s-info p {
    padding: 4px 16px;
}

/* THESIS EXHIBIT ตึกดำ */
.thesisgrid {
    display: grid;
    grid-template-columns: 3fr 2fr;
}

.thesis-con h1 {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 32px 0;
}

/* URBAN LEFT-ตึกดำ */
.urban-con-left {
    display: flex;
    flex-direction: column;
}

.urban-video video {
    width: 100%;
    padding: 0 24px 24px 24px;
}

.urban-info {
    padding: 0 24px 32px 24px;
}

.urban-info p {
    padding-top: 8px;
}

/* URBAN RIGHT-ตึกดำ */
.urban-con-right {
    display: flex;
    flex-direction: column;
}

.fisma , .now-and-then {
    display: flex;
}

.nat-img img, .fisma-img img {
    width: 100%;
    padding: 16px;
}

.fisma-info, .nat-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.fisma-info *, .nat-info * {
    padding: 8px 0;
}

.urban-con-right :hover {
    background-color: #dfdfdf;
}

/* FOOTER */
footer {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #dfdfdf;
    margin: 32px 24px;
    padding: 16px 0;
}

footer ul {
    display: flex;
    list-style: none;
    gap: 16px;
}

footer ul li a {
    text-decoration: none;
    color: #3f3f3f;
}

/* RESPONSIVE */

@media only screen and (max-width:768px) {
    nav .logo, nav ul {
        display: none;
    }

    .mobile-nav{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 24px;
    }

    /* SEC-1-กลุ่มคนติวหนังสือ */
    .sec1-con {
        display: flex;
        flex-direction: column;
    }

    .sec1-left{
        width: 100%;
    }

    .sec1-con img {
        width: 100%;
        padding: 0;
    }

    .sec1-right h1 {
        margin: 0;
    }

    /* SEC-2-พี่ดำ */
    .sec2-left{
        display: none;
    }

    .orientation-left-desktop, .campus-left-desktop, .guest-left-desktop {
        display: none;
    }

    .sec2-con {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 3fr;
    }

    .orientation, .campus, .guest {
        display: flex;
        flex-direction: column;
        border: none;
    }

    .orientation-img img, .campus-img img, .guest-img img{
        width: 100%;
    }

    .orientation-info, .campus-info , .guest-info {
        margin-top: 0;
        padding: 16px;
    }

    /* START LEARNING ตาราง */
    .start-con{
        padding: 0;
    }

    .start-grid-wrapper{
        display: none;
    }

    .start-mobile {
        display: flex;
        flex-direction: column;
    }

    .start-mobile * {
        background-color: #888;
        color: #333;
        height: auto;
        margin: 16px;
        text-decoration: none;
    }

    .s-1-mobile, .s-2-mobile, .s-3-mobile, .s-4-mobile, .s-5-mobile, .s-6-mobile, h1 {
        margin: 0 16px;
        display: flex;
        align-items: center;
        background-color: #888;
    }

    /* THESIS-ตึกดำ */
    .urban-info, .urban-con-right {
        display: none;
    }

    .thesisgrid {
        grid-template-columns: 1fr;
    }

    .urban-video video {
        padding: 0;
        padding-bottom: 24px;
    }

    /* FOOTER */
    footer{
        margin: 0 16px;
    }

    footer ul {
        display: none;
    }
}